/node_modules/
.png
.mp4
!package.json
VideoGallery/
VideoGallery_old/
CompressedMovieStock/
ffmpeg/
Storage/
SQL_Scripts/
movieStock/
.github/
Thumbnails/
notused/
resources/
server.crt
server.key
server.csr
.env
nohup.output