/node_modules/
.png
.mp4
!package.json
VideoGallery/
VideoGallery_old/
CompressedMovieStock/
ffmpeg/
Storage/
SQL_Scripts/
movieStock/
Thumbnails/
notused/
resources/
*.crt
*.key
ecosystem.config.js
*.zip
.env
nohup.output
nginx-configuration.txt
google-credentials.json
.prettierrc.json
.prettierignore
data.js
eslint.config.mjs